:root {
    /* Font Sizes */
    --title: 3.998rem;
    --subtitle: 2.827rem;
    --header: 1.999rem;
    --subheader: 1.414rem;

    /* Colors */
    --primary: #c40000;
    --primary-dark: #7c1212;
    --primary-light: #9c7500;
    --primary-text: #c40000;
    --secondary-text: #a39f9f;
    --accent: #536dfe;
    --divider: #bdbdbd;
    --white: #9c9090;

    /* Breakpoints */
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
}

a:hover {
    color: blue;
}

body {
    background-color: var(--white);
}

.header__title {
    font-family: 'Audiowide', cursive;
    font-size: 24px;
}

.header__title__link {
	color: black;
}

.hero {
	justify-content: flex-end;
}

.hero__caption {
	align-items: flex-end;
	margin-right: 4.5rem;
}

