<nav class="menu" aria-label="menu">
    <ul class="menu__items" aria-label="menu" style="list-style-type:none;">
        {{ $current := . }}
        {{ range .Site.Menus.main }}
        <li class="menu__items__item" aria-label="{{ .Name }}">
            <a href="{{ .URL }}" class="menu__items__item__link {{ if $current.IsMenuCurrent "main" . }}active{{ end }}"
                alt="{{ .Name }}" role="menuitem">
                {{ .Name }}
            </a>
        </li>
        {{ end }}

        <li class="menu__items__item" aria-label="Premium">
            <a href="https://barroomhero.memberful.com/checkout?plan=46757" class="menu__items__item__link" alt="Donate"
                role="menuitem">
                Premium
            </a>
        </li>
    </ul>
</nav>